<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026138022304-g86sjub7td5kh3etb49tkefp4ml9ds0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026138022304-g86sjub7td5kh3etb49tkefp4ml9ds0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAZFq9ilIYh8D9qj4BB6N5gr_D2XLWN5Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026138022304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuki.ramentabetai</string>
	<key>PROJECT_ID</key>
	<string>ramentabetai-fa707</string>
	<key>STORAGE_BUCKET</key>
	<string>ramentabetai-fa707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026138022304:ios:0c908566aa5c483d10c4c5</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
